{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
  <a href="/members/create">Novo</a>
  <table width="100%">
    <thead>
      <tr>
        <th>Member</th>
        <th>Email</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>  
          <td>
            <span style="background-image: url({{member.avatar_url}})">
            </span>
            {{member.name}}
          </td>
          <td class="information">{{member.email}}</td>
          <td class="information">{{member.weight}} cm</td>
          <td class="information">{{member.height}} kg</td>
          <td><a href="/members/{{member.id}}">Ver</a></td>
        </tr>
      {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}
